@import url(./__pic/img-popup__pic.css);
@import url(./__text/img-popup__text.css);
@import url(./__container/img-popup__container.css);
@import url(../popup/__close-button/popup__close-button.css);

.img-popup {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.5s, opacity 0.5s linear;
}