.profile__name {
  font-size: 42px;
  line-height: 56px;
  font-weight: 500;
  margin-bottom: 16px;
  margin-right: 17px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 350px;
}

@media screen and (max-width: 915px) {
  .profile__name {
    font-size: 27px;
    line-height: 56px;
  }
}