.element__like-button {
  margin-right: 21px;
  background-image: url(../../../images/like-button.svg);
  background-size: contain;
  height: 18.13px;
  width: 20.76px;
  background-repeat: no-repeat;
  border: 0;
  background-color: #fff;
  cursor: pointer;
}

.element__like-button:hover {
  opacity: 0.6;
}

.element__like-button:focus {
  outline: none;
}