@import url(./__button/popup__button.css);
@import url(./__close-button/popup__close-button.css);
@import url(./__container/popup__container.css);
@import url(./__form-item/popup__form-item.css);
@import url(./__submit-button/popup__submit-button.css);
@import url(./__title/popup__title.css);
@import url(./__error-text/popup__error-text.css);
@import url(./__error-text/_status_visible/popup__error-text_status_visible.css);
@import url(./__submit-button/_status_disabled/popup__submit-button_status_disabled.css);
@import url(./__form-item/_type_error/popup__form-item_type_error.css);
@import url(./__loading/popup__loading.css);

.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  font-family: 'Inter', 'Arial', sans-serif;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.5s, opacity 0.5s linear;
}
